
// Colors
// $primary-color: #98C1D9;
// $primary-color-transparent: #98C1D9aa;
$primary-color: #E27500;
$primary-color-transparent: #E27500aa;
$text-color: #464646;
$text-secondary-color: rgb(128, 128, 128);

$header-text-color: #ffffff;
$hover-color: #472500;

$terminal-color: #2e2e2e;

$msu-green: #18453B;


// Spacing
$leftRightMargin: 10vw;

// Screen size cutoff
$minScreenSize: 1000px;