
// Colors
$primary-color: #98C1D9;
$primary-color-transparent: #98C1D9aa;
// $primary-color: #E27500;
$text-color: rgb(70, 70, 70);
$text-secondary-color: rgb(128, 128, 128);
$hover-color: #E0FBFC;
// Spacing
$leftRightMargin: 10vw;