@import "Constants.scss";

.greeting {
    display: flex;
    align-items: center;
    padding: 5rem 0 2rem 0;
    font-weight: bold;
    justify-content: center;

    .greeting-text {
        padding-right: 2rem;
        text-align: right;

        h1 {
            font-size: 5rem;
            span {
                color: $primary-color;

                .Typewriter {
                    display: inline;
                }
            }
        }
        h2 {
            color: $text-secondary-color;
            font-size: 2rem;
            font-style: italic;
            padding-top: 1rem;
            span {
                color: $primary-color-transparent;
            }
        }
        
    }

    .image {
        padding-left: 2rem;
    }
}