@import "Constants.scss";

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 1;

    background-color: $primary-color-transparent;
    padding: 2rem 2rem 2rem 2rem;

    a:hover {
        color: $hover-color;
    }
    a {
        color: $header-text-color;
        text-decoration: none;
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
        padding-right: 5rem;
    }

    .navbar {
        font-size: 1.25rem;

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 0 1rem 0 1rem;
            }
        }
    }
}