@import "Constants.scss";

@keyframes growDown {
    0% {
        opacity: 0;
        transform: translate(0, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0%);
    }
  }

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    top: 0;
    z-index: 1;

    background-color: $primary-color-transparent;
    padding: 0 2rem 0 2rem;

    a:hover {
        color: $hover-color;
    }
    a {
        color: $header-text-color;
        text-decoration: none;
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
        padding-right: 5rem;
    }

    .navbar {
        font-size: 1.25rem;

        ul {
            list-style: none;
            display: flex;

            li a {
                padding: 2rem 1rem 2rem 1rem;
                display: inline-block;
            }
        }
    }
}

.header-drawer {
    position: absolute;
    transition: 1s;
    // animation: growDown 300ms ease-in-out forwards;

    background-color: $primary-color;
    width: 7rem;
}