@import "Constants.scss";

.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    top: 0;

    background-color: $primary-color-transparent;
    padding: 2rem 2rem 2rem 2rem;

    .title {
        font-size: 2rem;
        
        a:hover {
            color: $hover-color;
        }
        a {
            color: $text-color;
            text-decoration: none;
        }
        
    }

    .navbar {
        font-size: 1.25rem;

        ul {
            list-style: none;
            display: flex;

            li {
                padding: 0 1rem 0 1rem;

                a:hover {
                    color: $hover-color;
                }
                a {
                    color: $text-color;
                    text-decoration: none;
                }
            }
        }
    }
}